{{ define "title" }}
	Coupon Overview
{{ end }}

{{ define "head" }}
	
{{ end }}

{{ define "content" }}
<!-- home page content -->
<div class="container" style="max-width:100%;">
  <div class="row span7 offset2">
    <div class="well content">
      <span class="pull-right"><button onclick="printDoc('#printDiv')" class="btn"><i class="icon-print"></i> </button></span>
      <legend>Active Coupons</legend>
        {{ range .coupons }}
          <p>
            <div class="img-polaroid" style="width:70%;margin:0px auto;">
              <div class="pad">
                <span class="lead text-center">
                  <p><img src="/static/img/logo-tiny-clear.png" width="250"></img></p>
                  <hr/>
                  <p>Use code "<span class="text-zoom">{{ .Code }}</span>" to get {{ .Discount }}% off!</p>
                </span>
              </div>
            </div>
          </p>
        {{ else }}
          <p class="lead text-zoom">There are currently no active coupons</p>
        {{ end }}
    </div>
  </div>
</div>

<div id="printDiv" class="hide">
  {{ range .coupons }}
    <div class="inline pull-left pad" style="width:252px;heigh:144px;">
      <div class="text-center pull-center" style="margin:0px auto;">
        <span>
          <img src="/static/img/logo-tiny-clear.png" width="125"></img>
          <hr/>
          <span>Use "{{ .Code }}" for {{ .Discount }} % off</span>
          <small>zoomenvelopes.com</small>
        </span>
      </div>
    </div>
  {{ end }}
</div>
<!-- home page content -->
{{ end }}

{{ define "script" }}
<script>
  function printDoc(doc){
    popup($(doc).html());
  }
  function popup(dat){
    var win = window.open('', 'Active Coupons', 'height=500, width=600');
    win.document.write('<html><head><link href="/static/css/zoom.css" rel="stylesheet" media="all"><link href="/static/css/bootstrap.min.css" rel="stylesheet" media="all"><link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet" media="all"><title>Active Coupons</title></head><body>'+dat+'</body></html>');
    win.print();
    win.close();
    return true;
  }
</script>
{{ end }}